<p>Authorize With Accounts</p>


<form [formGroup]="AuthorizeForm" (ngSubmit)="onSubmit()">
  <div>
    <div *ngIf="Mode == 'AuthApi'">
      <label> ClientID</label>
      <input formControlName="ClientID" [(ngModel)]="AccountModel.ClientID"/>
    </div>
    <div *ngIf="Mode == 'AuthApi'">
      <label> Client secret</label>
      <input formControlName="ClientSecret" [(ngModel)]="AccountModel.ClientSecret"/>
    </div>

    <br />
    <div>
      <button mat-button type="submit" id="AuthorizeButton">Login with CommunAxiom.Accounts</button>
    </div>
  </div>
</form>
