
<p> Press on each button to launch its corresponding grain</p>


<div>
  <div>
    <a href="https://localhost:44369/api/account">
      <button class="button">
        Account Grain
      </button>
    </a>
  </div>

  <div>
    <a href="https://localhost:44369/api/Datasource">
      <button class="button">
        Datasource Grain
      </button>
    </a>
  </div>

  <div>
    <a href="https://localhost:44369/api/DataTransfer">
      <button class="button">
        DataTransfer Grain
      </button>
    </a>

  </div>

  <div>
    <a href="https://localhost:44369/api/Ingestion">
      <button class="button">
        Ingestion Grain
      </button>
    </a>
  </div>

  <div>
    <a href="https://localhost:44369/api/Portfolio">
      <button class="button">
        Portfolio Grain
      </button>
    </a>
  </div>

  <div>
    <a href="https://localhost:44369/api/Project">
      <button class="button">
        Project Grain
      </button>
    </a>
  </div>

  <div>
    <a href="https://localhost:44369/api/Replication">
      <button class="button">
        Replication Grain
      </button>
    </a>
  </div>

</div>


