
<p> Press on each button to launch its corresponding grain</p>


<div>
  <div>
    <a href="/api/account/get">
      <button class="button">
        Account Grain
      </button>
    </a>
  </div>

  <div>
    <a href="/api/Datasource">
      <button class="button">
        Datasource Grain
      </button>
    </a>
  </div>

  <div>
    <a href="/api/DataTransfer">
      <button class="button">
        DataTransfer Grain
      </button>
    </a>

  </div>

  <div>
    <a href="/api/Ingestion">
      <button class="button">
        Ingestion Grain
      </button>
    </a>
  </div>

  <div>
    <a href="/api/Portfolio">
      <button class="button">
        Portfolio Grain
      </button>
    </a>
  </div>

  <div>
    <a href="/api/Project">
      <button class="button">
        Project Grain
      </button>
    </a>
  </div>

  <div>
    <a href="/api/Replication">
      <button class="button">
        Replication Grain
      </button>
    </a>
  </div>

</div>


