<nav>
  <div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLinkActive="active" routerLink="">Home</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="test-grain">Launch Grains</a>
        </li>
        <li>
          <a href="http://localhost:8080" target="_blank" rel="noopener noreferrer">Orleans Dashboard</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="authorize">Authorize with Accounts</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="portfolio">Portfolio</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</nav>
