@using CommunAxiom.Commons.ClientUI.Shared.ViewModels.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase
@inject IAccessTokenService _accessTokenService
@inject ISessionViewModel _loginViewModel
@inject NavigationManager _navigationManager
@inject IJSRuntime JsRuntime
@inject IToastService toastService
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<MainMenu />

<section class="section">
    <div class="container content">
        @Body
    </div>
</section>


@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/systemhub"))
            .Build();

        hubConnection.On<string, string>("ReceiveNotification", (title, body) =>
        {
            var encodedMsg = $"{title}: {body}";
            toastService.ShowInfo(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    protected override async Task OnParametersSetAsync()
    {


    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("Startup");

    }

    private async Task LogoutUser()
    {
        await _accessTokenService.RemoveAccessTokenAsync("jwt_token");
        _navigationManager.NavigateTo("/", true);
    }
}
