@using CommunAxiom.Commons.ClientUI.Shared.Resources
@using CommunAxiom.Commons.ClientUI.Shared.ViewModels.Interfaces
@using Microsoft.AspNetCore.SignalR.Client

@inherits LayoutComponentBase
@inject IAccessTokenService _accessTokenService
@inject ISessionViewModel _loginViewModel
@inject NavigationManager _navigationManager
@inject IJSRuntime JsRuntime
@inject IToastService toastService
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<MainMenu />

<section class="section">
    <div class="container.is-fullhd content">
        @Body
    </div>
</section>

