@page "/test_grain"
@inject HttpClient httpClient;
@inject IHttpClientConfig httpClientConfig;
<h3>TestGrain</h3>

<p> Press on each button to launch its corresponding grain</p>

<div>
  <div>
    <a class="button" target="_blank" href="/api/account/get">
        Account Grain
    </a>
  </div>

  <div>
    <a class="button" target="_blank" @onclick='()=> click("/api/account/security_check")'>
        Account Grain Security Check
    </a>
  </div>

  <div>
    <a class="button" target="_blank" href="/api/Datasource">
        Datasource Grain
    </a>
  </div>

  <div>
    <a class="button" target="_blank" href="/api/DataTransfer">
        DataTransfer Grain
    </a>

  </div>

  <div>
    <a class="button" target="_blank" href="/api/Ingestion">
        Ingestion Grain
    </a>
  </div>

  <div>
    <a class="button" target="_blank" href="/api/Portfolio">
        Portfolio Grain
    </a>
  </div>

  <div>
    <a class="button" target="_blank" href="/api/Project">
        Project Grain
    </a>
  </div>

  <div>
    <a class="button" target="_blank" href="/api/Replication">
        Replication Grain
    </a>
  </div>

</div>


@code{


    async Task click(string url)
    {
        await httpClientConfig.Configure(httpClient);

        await httpClient.GetAsync(url);
    }

}