<p>Enter your Portfolio Details</p>

<form [formGroup]="PortfolioForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Portfolio Name</label>
    <div>
      <input formControlName="Name" [(ngModel)]="PortfolioModel.Name" />
      <input formControlName="Type" [(ngModel)]="PortfolioModel.Type" />
    </div>
    <select formControlName="name" [(ngModel)]="PortfolioModel.ParentId">
      <option disabled>Select Associated Portfolio</option>
      <option> A </option>
      <option> B </option>
      <option> C </option>
    </select>

    <button mat-button type="submit" id="CreatePortfolioButton">Create Portfolio</button>
  </div>
</form>
